{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Marame Khelil</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-body h-100 border-info" id="profile-wrapper">
            <img id="profile-pic" src="{% static 'images/maram.jpg' %}" />
            <hr />
            <h4>I'm Marame Khelil!</h4>
            <p>
              Software Engineer Intern, I love coding, doing research and
              collaborating
            </p>
          </div>
        </div>

        <div class="col-md-9">
          <div class="card card-body h-100 border-info">
            <h4>About me</h4>
            <hr />
            <p>
              As a passionate and driven software engineering intern, I am
              deeply intrigued by the dynamic intersection of cyber security and
              software development. Throughout my internship experiences, I have
              immersed myself in the world of coding, honing my skills in
              various programming languages and development frameworks. My
              interest, however, extends beyond just creating robust and
              efficient software; I am captivated by the challenges and
              complexities of cyber security. Exploring ways to fortify systems
              against potential threats and vulnerabilities has become a focal
              point of my learning journey. I am enthusiastic about contributing
              to the ever-evolving field of technology, leveraging my expertise
              in both software development and cyber security to create
              innovative and secure solutions.
            </p>

            <ul class="social-links">
              <li>
                <img class="social" src="{% static 'images/facebook.png' %}" />
              </li>
              <li>
                <img class="social" src="{% static 'images/linkedin.png' %}" />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>My Experience as a Developer</h5>
            <hr />
            <p>Full-stack Developer.</p>
            <p>
              It's my end-of-study internship. My tasks are designing, building,
              and managing a website.
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>What I Know</h5>
            <hr />
            <p>
              Python, HTML/CSS, JavaScript, React, Postgres, JavaScript charts,
              and a whole bunch more I can’t possibly mention in one sentence!
              ;)
            </p>
            <p>PS: Working on Django, MongoDB, and Machine Learning.</p>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>How I Learn</h5>
            <hr />
            <p>Reverse Engineer & Build Ugly Prototypes First.</p>

            <p>
              I can learn just about anything by having a final product to tear
              apart piece by piece. I break the code where I need to figure out
              why things work the way they do. Documentation is just a
              reference.
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>My Short Term Goals</h5>
            <hr />
            <p>
              Aside from building small projects, I would love to enter a
              position where I can be part of a bigger team & learn from others
              with more experience than myself.
            </p>
          </div>
        </div>
      </div>
      <br />
    </div>
  </body>
</html>
